body {
    background: black;
    color: white;
    margin: 0px;
    font-family: "Jersey 10", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(24, 24, 254);
    padding: 20px;
    color: rgb(24, 24, 254);
    font-size: 40px;
}

.chamada {
    background: rgb(118, 4, 4);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-video {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-video img {
    opacity: 0.5;
    height: 200px;
}

.categoria-video img:hover {
    opacity: 1.0;
    border: 4px solid blue;
}

.categoria h2 {
    color: blue;
    font-size: 30px;
}